@import "_colours";
@import "_fonts";

.about-me {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 80%;
    height: 40vh;
    margin: 0 auto;
    justify-content: space-between;
    div {
        width: 48%;
        min-width: 300px;
    }
    p {
        font-size: 1.2rem;
    }

    .about-me-img {
        background: url(../images/me.png);
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

