@import '_colours';

.top {
    display: flex;
    width: 100vw;
    max-width: 1600px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

// intro

.intro {
  width: 45%;
  margin-left: 15%;
  h1 {
      opacity: 0.6;
      span {
          font-weight: bold;
          opacity: 1;
      }
  }
}


// animation

.animation {
  position: relative;
  width: 640px;
  height: 800px;
}

.angled-line {
  border-top: 1px solid $neutral;
  width: 1200px;
  height: 1px;
  position: absolute;
  transform: rotate(335deg);
  bottom: 200px;
  left: 200px;
  transition: border-radius 3s;
}

.animation:hover .angled-line {
  animation: bend 10s;
  border-color: red;
  border-radius: 30%;
}

.line-2 {
  left: 80px;
}

.line-3 {
  left: -40px;
}

.line-4 {
  left: -160px;
}

.line-5 {
  left: -280px;
}

.line-6 {
  left: -400px;
}

@keyframes bend {
  0% {
    border-radius: 0px;
  }

  50% {
    border-radius: 50px / 25px;
  }

  100% {
    border-radius: 0px;
  }
}

