// This is where you can import other stylesheets or write your scss code
@import '_top';
@import '_colours';
@import '_fonts';
@import '_about-me';
@import '_skills';
@import '_footer';
@import '_nav';
@import '_up';
@import '_projects';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    ul {
        list-style: none;
    }
}

body {
    background-color: $myNavy;
    width: 100vw;
}
